/*
COLOR SCHEME:
Orange - FF6700
Light Gray - EBEBEB
Gray - C0C0C0
Medium Gray Blue - 3A6EA5
Deep Blue - 004E98
*/

.heading {
  height: 150px;
  background-color: green;
}

.topbarbuttons {
  height: 140px;
  padding-right: 20px;
  padding-top: 5px;
  text-align: right;
  float: right;
  background-color: orange;
  line-height: 10px;
  font-size: 15px;
}

.webtitle {
  font-family: 'Quicksand', sans-serif;
  float: left;
  padding-left: 10px;
  font-size: 40px;
  line-height: 25px;
  display: flex;
}

.webtitle:hover {
  cursor: pointer;
}

.logo {
  padding: 10px;
  padding-top: 20px;
  padding-right: 20px;
  height: 70px;
}
