<!DOCTYPE html>
<title>Welcome to NeighborNet</title>
<link rel="stylesheet" href="../stylesheets/stylesheet.css">

<div class="heading">
  <div class="webtitle" onclick="location.href='/welcome'">
    <img class="logo" src="../photos/logo.jpg">
    <p>NeighborNet</p>
  </div>
  <div class="topbarbuttons">
    <a href="#about">
      <div class="barbutton">About
      </div>
    </a>
  </div>
</div>

<div class="pagebody">
  <div class="welcomeimg">
    <img src="../photos/welcomeimg.jpg" width="100%">
    <a href="{{login_url}}"
      <div class="loginbutton">
        Log In
      </div>
    </a>
  </div>
  <div id="about">
    NeighborNet is a platform on which people in their neighborhood
    communities can connect with each other.
  </div>
</div>
