<!DOCTYPE html>
<title>Welcome to NeighborNet</title>
<link rel="stylesheet" href="../stylesheets/stylesheet.css">
<link href="https://fonts.googleapis.com/css?family=Lato|Muli" rel="stylesheet">

<div class="heading">
  <div class="webtitle" onclick="location.href='/welcome'">
    <img class="logo" src="../photos/logo.jpg">
    <p>NeighborNet</p>
  </div>
  <div class="topbarbuttons">
    <div class="barbutton" onclick="location.href='#about'">about
    </div>
  </div>
</div>

<div class="pagebody">
  <div class="welcomeimg">
    <img src="../photos/welcomeimg.png" width="100%">
    <div class="loginbutton" onclick="location.href='{{login_url}}'">
      Log In
    </div>
  </div>
  <div id="about">
    NeighborNet is a platform on which people in their neighborhood
    communities can connect with each other.
  </div>
</div>
